@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Reception/Views/Shared/LayoutAdmin.cshtml";
}

@section customStyles {
    @Styles.Render("~/Content/datatables")
    <style>
        .img-col {
            max-width: 100px;
        }

        .mgt {
            margin-top: 16px;
        }

        .table-and-form-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        #editFormContainer {
            width: 27%;
            display: none;
        }

        .row {
            width: calc(100% - 30%);
            text-align: center;
        }
        
    </style>
}

@section Scripts {
    <script>
        var dataTable = $('#tblBooking').DataTable({
            "searching": true,
            "ordering": true
        });
        function showEditForm(booking) {
            $('#editFormContainer').show();
            $('#editBookingID').val(booking.BookingID);
            var BookingDateObj = parseJsonDateString(booking.BookingDate);
            var formattedBookingDate = formatDateForInput(BookingDateObj);
            $('#editBookingDate').val(formattedBookingDate);
            var checkinDateObj = parseJsonDateString(booking.CheckInDate);
            var formattedCheckinDate = formatDateForInput(checkinDateObj);
            $('#editCheckInDate').val(formattedCheckinDate);
            var CheckOutDateObj = parseJsonDateString(booking.CheckOutDate);
            var formattedCheckOutDate = formatDateForInput(CheckOutDateObj);
            $('#editCheckOutDate').val(formattedCheckOutDate);
            $('#editRoomID').val(booking.RoomID);
            $('#editPaymentStatus').val(booking.PaymentStatus);
            $('#editCustomerID').val(booking.CustomerID);
            $('#btn-delete').show();
        }
        
        function showCreateForm() {
            // Hiển thị form tạo mới và làm sạch giá trị
            $('#editFormContainer').show();
            $('#editBookingID').val('0');
            $('#editBookingDate').val('');
            $('#editCheckInDate').val('');
            $('#editCheckOutDate').val('');
           $('#editRoomID').val('');
            $('#editPaymentStatus').val('');
           $('#editCustomerID').val('');
            $('#btn-delete').hide();
        }
        function loadBooking(dataTable) {
    $.ajax({
        url: '/Reception/Booking/GetBookList',
        type: 'get',
        success: function (data) {
            if (data.code == 200) {
                console.log(data);

                // Kiểm tra xem dataTable đã được khởi tạo chưa
                if (dataTable) {

                    // Xóa dòng cũ
                    dataTable.clear();

                    // Thêm dữ liệu mới
                    // Thêm dữ liệu mới
                    $.each(data.booking, function (k, v) {
                        let s = '<tr id="' + v.BookingID + '">';
                        s += '<td style="text-align: left;">' + formatDateForInput(parseJsonDateString(v.BookingDate))  + '</td>';
                        s += '<td>' + formatDateForInput(parseJsonDateString(v.CheckInDate))  + '</td>';
                        s += '<td>' + formatDateForInput(parseJsonDateString(v.CheckOutDate)) + '</td>';
                        s += '<td>' + v.TypeName + '</td>'; // Hiển thị Loại phòng
                        s += '<td>' + v.PaymentStatus + '</td>';
                        s += '<td>' + v.CustomerID + '</td>'; 
                        s += '<td>' + v.FullName + '</td>'
                        s += '<td class="col-ms-3 text-right">';
                        if (v.PaymentStatus !== 'Paid and Checkin' && v.PaymentStatus !== 'UnPaid and Checkin') {
                            s += '<button class="btn btn-sm btn-warning" name="update" onclick="editBooking(' + v.BookingID + ')"><i class="fa fa-pen-square" aria-hidden="true"></i></button>&nbsp';
                            s += '<button class="btn btn-sm btn-primary" name="checkin" onclick="checkin(' + v.BookingID + ')"><i class="fa fa-pen-square" aria-hidden="true"></i></button>&nbsp';
                        }
                       
                        s += '</td>';
                        s += '</tr>';
                        dataTable.row.add($(s));
                        console.log(v.FullName);
                    });


                    // Tạo lại DataTable
                    dataTable.draw();
                }
            }
        }
    });
    }
        $(document).ready(function () {


            loadBooking(dataTable);
        });


        function parseJsonDateString(jsonDate) {
            return new Date(parseInt(jsonDate.substr(6)));
        }
        function formatDateForInput(date) {
            var year = date.getFullYear();
            var month = ('0' + (date.getMonth() + 1)).slice(-2);
            var day = ('0' + date.getDate()).slice(-2);
            var hours = ('0' + date.getHours()).slice(-2);
            var minutes = ('0' + date.getMinutes()).slice(-2);

            return `${year}-${month}-${day}T${hours}:${minutes}`;
        }

        function deleteBooking() {
            var bookingID = $('#editBookingID').val();

            if (confirm('Bạn có chắc muốn xóa đặt phòng này không?')) {
                $.ajax({
                    url: '/Reception/Booking/CheckAndDeleteBooking',
                    type: 'post',
                    data: {
                        bookingID: bookingID
                    },
                    success: function (data) {
                        if (data.code === 200) {
                            $('#editFormContainer').hide();
                            loadBooking(dataTable);
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function () {
                        alert('Đã xảy ra lỗi khi gửi dữ liệu lên server.');
                    }
                });
            }
        }

        function editBooking(id) {
            console.log(id);
            $.ajax({
                url: '/Reception/Booking/GetBookingDetails',
                type: 'get',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code == 200) {
                        showEditForm(data.booking);
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }

        function closeEditForm() {
            $('#editFormContainer').hide();
        }

        function submitEditForm() {
            function validateFormData() {
                var editedBookingDate = $('#editBookingDate').val();
                var editedCheckInDate = $('#editCheckInDate').val();
                var editedCheckOutDate = $('#editCheckOutDate').val();


                return true;
            }

            if (!validateFormData()) {
                return;
            }

            var editedBookingID = $('#editBookingID').val();
            var editedBookingDate = new Date($('#editBookingDate').val()).toISOString();
            var editedCheckInDate = new Date($('#editCheckInDate').val()).toISOString();
            var editedCheckOutDate = new Date($('#editCheckOutDate').val()).toISOString();
            var editedRoomID = parseInt($('#editRoomID').val());
            var editedPaymentStatus = $('#editPaymentStatus').val();
            var editedCustomerID = parseInt($('#editCustomerID').val());
            console.log(editedBookingDate);
            var actionUrl = '/Reception/Booking/Edit';

            if (editedBookingID === '0') {
                actionUrl = '/Reception/Booking/CreateBooking';
            }

            $.ajax({
                url: actionUrl,
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    BookingID: editedBookingID,
                    BookingDate: editedBookingDate,
                    CheckInDate: editedCheckInDate,
                    CheckOutDate: editedCheckOutDate,
                    RoomID: editedRoomID,
                    PaymentStatus: editedPaymentStatus,
                    CustomerID: editedCustomerID
                }),
                success: function (data) {
                    if (data.code === 200) {
                        $('#editFormContainer').hide();
                        loadBooking(dataTable);
                    } else {
                        alert(data.msg);
                    }
                },
                error: function () {
                    alert('Đã xảy ra lỗi khi gửi dữ liệu lên server.');
                }
            });
        }
        function checkin(BookingID) {
   
            $.ajax({
                url: '/Reception/Booking/checkin',
                type: 'POST',
                data: {
                    BookingID: BookingID
                },
                success: function (data) {
                    if (data.code == 200) {
                        loadBooking(dataTable);
                        alert('Nhận Phòng thành công')
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
    </script>
}
<button type="button" class="btn btn-success" onclick="showCreateForm()" style="width:80px">Create</button>

<div class="table-and-form-container">
    <div class="table-responsive mgt" style="width:70%">
        <table id="tblBooking" class="table table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Ngày đặt phòng</th>
                    <th>Ngày nhận phòng</th>
                    <th>Ngày trả phòng</th>
                    <th>Phòng</th> <!-- Cột mới -->
                    <th>Phương thức thanh toán</th>
                    <th>ID Khách hàng</th>
                    <th>Khách hàng</th> <!-- Cột mới -->
                    <th class="col-ms-3 text-right">Các chức năng</th>
                </tr>
            </thead>

            <tbody>
                <!-- Dữ liệu của bảng sẽ được thêm ở đây -->
            </tbody>
        </table>
    </div>

    <div id="editFormContainer">
        <form id="editForm">
            <div class="form-group">
                <input type="hidden" id="editBookingID" name="BookingID" />
            </div>
            <div class="form-group">
                <label for="editBookingDate">Ngày đặt phòng:</label>
                <input type="datetime-local" class="form-control" id="editBookingDate">
            </div>
            <div class="form-group">
                <label for="editCheckInDate">Ngày nhận phòng:</label>
                <input type="datetime-local" class="form-control" id="editCheckInDate">
            </div>
            <div class="form-group">
                <label for="editCheckOutDate">Ngày trả phòng:</label>
                <input type="datetime-local" class="form-control" id="editCheckOutDate">
            </div>
            <div class="form-group">
                <label for="editRoomID">ID  phong:</label>
                <input type="number" class="form-control" id="editRoomID">
            </div>
            <div class="form-group">
                <label for="editPaymentStatus">Phương thức thanh toán:</label>
                <input type="text" class="form-control" id="editPaymentStatus">
            </div>
            <div class="form-group">
                <label for="editCustomerID">ID Khách hàng:</label>
                <input type="number" class="form-control" id="editCustomerID">
            </div>

            <!-- Các nút để submit hoặc đóng form -->
            <button type="button" class="btn btn-primary" onclick="submitEditForm()">Submit</button>
            <button type="button" class="btn btn btn-danger" id="btn-delete" onclick="deleteBooking()">Delete</button>
            <button type="button" class="btn btn-secondary" onclick="closeEditForm()">Close</button>
        </form>
    </div>
</div>
