USE [LuxuryHotel]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[BookingDate] [datetime] NULL,
	[CheckInDate] [datetime] NULL,
	[CheckOutDate] [datetime] NULL,
	[RoomID] [int] NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[CustomerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[FullName] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHECKINROOM]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKINROOM](
	[CheckinID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[RoomID] [int] NULL,
	[CheckInDate] [datetime] NULL,
	[ReceptionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHECKOUTROOM]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKOUTROOM](
	[CheckoutID] [int] IDENTITY(1,1) NOT NULL,
	[CheckinID] [int] NULL,
	[CheckoutDate] [datetime] NULL,
	[Toltal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckoutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[ImagePath] [varchar](max) NOT NULL,
	[OderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[Payid] [int] IDENTITY(1,1) NOT NULL,
	[CheckinID] [int] NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[PaymentMethods] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Payid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECEPTIONS]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEPTIONS](
	[ReceptionID] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[FullName] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Salary] [decimal](10, 2) NULL,
	[Days] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [text] NULL,
	[Rating] [int] NULL,
	[ReviewDate] [date] NULL,
	[CustomerID] [int] NULL,
	[RoomID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](255) NULL,
	[RoomStatus] [nvarchar](50) NULL,
	[RoomTypeID] [int] NULL,
	[Area] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMTYPE]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMTYPE](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](255) NULL,
	[PricePerHour] [int] NULL,
	[PriceByDay] [int] NULL,
	[OverNightPrice] [int] NULL,
	[PriceFirstHour] [int] NULL,
	[PriceOverTime] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomUtilities]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomUtilities](
	[RoomID] [int] NOT NULL,
	[UtilitiesID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC,
	[UtilitiesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](255) NULL,
	[ServicePrice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICEREQUEST]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICEREQUEST](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestDate] [date] NULL,
	[CheckinID] [int] NULL,
	[ServiceID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Description] [text] NULL,
	[ReceptionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilities]    Script Date: 4/15/2024 1:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilities](
	[UtilitiesID] [int] IDENTITY(1,1) NOT NULL,
	[UtilitiesName] [nvarchar](255) NULL,
	[UtilitiesPicture] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UtilitiesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_CustomerID_Booking] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_CustomerID_Booking]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_RoomID] FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOM] ([RoomID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_RoomID]
GO
ALTER TABLE [dbo].[CHECKINROOM]  WITH CHECK ADD  CONSTRAINT [FK_BookingID_Checkin] FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKING] ([BookingID])
GO
ALTER TABLE [dbo].[CHECKINROOM] CHECK CONSTRAINT [FK_BookingID_Checkin]
GO
ALTER TABLE [dbo].[CHECKINROOM]  WITH CHECK ADD  CONSTRAINT [FK_ReceptionID_Checkin] FOREIGN KEY([ReceptionID])
REFERENCES [dbo].[RECEPTIONS] ([ReceptionID])
GO
ALTER TABLE [dbo].[CHECKINROOM] CHECK CONSTRAINT [FK_ReceptionID_Checkin]
GO
ALTER TABLE [dbo].[CHECKOUTROOM]  WITH CHECK ADD  CONSTRAINT [FK_CheckinID_Checkout] FOREIGN KEY([CheckinID])
REFERENCES [dbo].[CHECKINROOM] ([CheckinID])
GO
ALTER TABLE [dbo].[CHECKOUTROOM] CHECK CONSTRAINT [FK_CheckinID_Checkout]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_RoomID] FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOM] ([RoomID])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_RoomID]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_CheckinID_payment] FOREIGN KEY([CheckinID])
REFERENCES [dbo].[CHECKINROOM] ([CheckinID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK_CheckinID_payment]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[REVIEW] CHECK CONSTRAINT [FK_CustomerID]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_REVIEW_RoomID] FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOM] ([RoomID])
GO
ALTER TABLE [dbo].[REVIEW] CHECK CONSTRAINT [FK_REVIEW_RoomID]
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD  CONSTRAINT [FK_RoomTypeID_Type] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[ROOMTYPE] ([RoomTypeID])
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [FK_RoomTypeID_Type]
GO
ALTER TABLE [dbo].[RoomUtilities]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOM] ([RoomID])
GO
ALTER TABLE [dbo].[RoomUtilities]  WITH CHECK ADD FOREIGN KEY([UtilitiesID])
REFERENCES [dbo].[Utilities] ([UtilitiesID])
GO
ALTER TABLE [dbo].[SERVICEREQUEST]  WITH CHECK ADD  CONSTRAINT [FK_CheckinID_Requet] FOREIGN KEY([CheckinID])
REFERENCES [dbo].[CHECKINROOM] ([CheckinID])
GO
ALTER TABLE [dbo].[SERVICEREQUEST] CHECK CONSTRAINT [FK_CheckinID_Requet]
GO
ALTER TABLE [dbo].[SERVICEREQUEST]  WITH CHECK ADD  CONSTRAINT [FK_ServiceID] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[SERVICE] ([ServiceID])
GO
ALTER TABLE [dbo].[SERVICEREQUEST] CHECK CONSTRAINT [FK_ServiceID]
GO
